# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#################################
# SACA Hub Configuration
#################################

deploymentname     = "{SACA_DEPLOYMENTNAME}"
saca_subid         = "{SACA_SUBID}"
saca_rgname        = "{SACA_RGNAME}"
saca_vnetname      = "{SACA_VNETNAME}"
saca_lawsname      = "{SACA_LAWSNAME}"
vnet_address_space = ["{SACA_VNETSPACE}"]
tier0_rgname       = "{TIER0_RGNAME}"
tier0_vnetname     = "{TIER0_VNETNAME}"
tier1_rgname       = "{TIER1_RGNAME}"
tier1_vnetname     = "{TIER1_VNETNAME}"
tier2_rgname       = "{TIER2_RGNAME}"
tier2_vnetname     = "{TIER2_VNETNAME}"

#################################
# Firewall configuration section
#################################

client_address_space       = "{FIREWALL_CLIENT_SPACE}"
management_address_space   = "{FIREWALL_MANAGEMENT_SPACE}"
firewall_name              = "{FIREWALL_NAME}"
client_ipconfig_name       = "{FIREWALL_CLIENT_IPCONFIG_NAME}"
client_publicip_name       = "{FIREWALL_CLIENT_PUBLICIP_NAME}"
management_ipconfig_name   = "{FIREWALL_MANAGEMENT_IPCONFIG_NAME}"
management_publicip_name   = "{FIREWALL_MANAGEMENT_PUBLICIP_NAME}"
management_routetable_name = "{FIREWALL_MANAGEMENT_ROUTE_TABLE_NAME}"

#################################
# Bastion Host Configuration
#################################

bastion_host_name      = "{BASTION_HOST_NAME}",
bastion_address_space  = "{BASTION_ADDRESS_SPACE}",
bastion_public_ip_name = "{BASTION_PUBLIC_IP_NAME}",
bastion_ipconfig_name  = "{BASTION_IPCONFIG_NAME}"
