# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#################################
# SACA Hub Configuration
#################################

deploymentname     = "{SACA_DEPLOYMENTNAME}"
saca_subid         = "{SACA_SUBID}"
saca_rgname        = "{SACA_RGNAME}"
saca_vnetname      = "{SACA_VNETNAME}"
saca_lawsname      = "{SACA_LAWSNAME}"
vnet_address_space = ["{SACA_VNETSPACE}"]
tier0_rgname       = "{TIER0_RGNAME}"
tier0_vnetname     = "{TIER0_VNETNAME}"
tier1_rgname       = "{TIER1_RGNAME}"
tier1_vnetname     = "{TIER1_VNETNAME}"
tier2_rgname       = "{TIER2_RGNAME}"
tier2_vnetname     = "{TIER2_VNETNAME}"

#################################
# Firewall configuration section
#################################

firewall_address_space   = "{FW_CLIENT_SPACE}"
management_address_space = "{FW_MGMT_SPACE}"
saca_fwname              = "{FW_NAME}"
fw_client_ipcfg_name     = "{FW_CLIENT_IPCFG_NAME}"
fw_client_pip_name       = "{FW_CLIENT_PIP_NAME}"
fw_mgmt_ipcfg_name       = "{FW_MGMT_IPCFG_NAME}"
fw_client_pip_name       = "{FW_MGMT_PIP_NAME}"
mgmt_routetable_name     = "{FW_MGMT_ROUTE_TABLE_NAME}"
