tf_environment   = ""
deploymentname   = ""
mlz_location     = ""
mlz_metadatahost = ""
mlz_objectid     = ""

hub_subid      = ""
hub_rgname     = ""
hub_vnetname   = ""
tier0_subid    = ""
tier0_rgname   = ""
tier0_vnetname = ""
tier1_subid    = ""
tier1_rgname   = ""
tier1_vnetname = ""
mlz_lawsname   = ""
tier2_subid    = ""
tier2_rgname   = ""
tier2_vnetname = ""
