mlz_clientid=""
mlz_clientsecret=""
mlz_objectid=""

tf_environment=""
mlz_cloud=""
mlz_tenantid=""
mlz_location=""
mlz_metadatahost=""

deploymentname     = ""
hub_subid          = ""
hub_rgname         = ""
mlz_lawsname       = ""
tier1_subid        = ""
tier1_rgname       = ""
tier1_vnetname     = ""
tier3_subid        = ""
tier3_rgname       = ""
tier3_vnetname     = ""
