tf_environment   = ""
deploymentname   = ""
mlz_location     = ""
mlz_metadatahost = ""


hub_subid      = ""
hub_rgname     = ""
hub_vnetname   = ""
laws_name      = ""
laws_rgname    = ""
tier1_subid    = ""
tier3_subid    = ""
tier3_rgname   = ""
tier3_vnetname = ""
