# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

#################################
# Global Configuration
#################################

tf_environment   = "{TF_ENVIRONMENT}"
deploymentname   = "{DEPLOYMENTNAME}"
mlz_location     = "{MLZ_LOCATION}"
mlz_metadatahost = "{MLZ_METADATAHOST}"
mlz_objectid     = "{MLZ_OBJECTID}"

#################################
# Hub Configuration
#################################


hub_subid           = "{HUB_SUBID}"
hub_rgname          = "{HUB_RGNAME}"
hub_vnetname        = "{HUB_VNETNAME}"
firewall_private_ip = "{FIREWALL_PRIVATE_IP}"

#################################
# Tier 1 Network configuration section
#################################

tier1_subid = "{TIER1_SUBID}"
laws_name   = "{LAWS_NAME}"
laws_rgname = "{LAWS_RGNAME}"

#################################
# Tier 3 Network configuration section
#################################

tier3_subid    = "{TIER3_SUBID}"
tier3_rgname   = "{TIER3_RGNAME}"
tier3_vnetname = "{TIER3_VNETNAME}"

tier3_vnet_address_space = ["{TIER3_VNET_ADDRESS_SPACE}"]

subnets = {
  "{TIER3_SUBNETVM_NAME}" = {
    name              = "{TIER3_SUBNETVM_NAME}"
    address_prefixes  = ["{TIER3_SUBNETVM_ADDRESSPREFIXLIST}"]
    service_endpoints = ["{TIER3_SUBNETVM_SERVICEENDPOINTLIST}"]

    enforce_private_link_endpoint_network_policies = {TIER3_SUBNETVM_ENABLEPRIVATELINKENDPOINT}
    enforce_private_link_service_network_policies = {TIER3_SUBNETVM_ENABLEPRIVATELINKSERVICE}

    nsg_name = "{TIER3_SUBNETVM_NSGNAME}"
    nsg_rules = {
      "allow_ssh" = {
        name                       = "allow_ssh"
        priority                   = "100"
        direction                  = "Inbound"
        access                     = "Allow"
        protocol                   = "Tcp"
        source_port_range          = ""
        destination_port_range     = "22"
        source_address_prefix      = "*"
        destination_address_prefix = ""
      }
      "allow_rdp" = {
        name                       = "allow_rdp"
        priority                   = "200"
        direction                  = "Inbound"
        access                     = "Allow"
        protocol                   = "Tcp"
        source_port_range          = ""
        destination_port_range     = "3389"
        source_address_prefix      = "*"
        destination_address_prefix = ""
      }
    }

    routetable_name = "{TIER3_SUBNETVM_RTNAME}"
  }
}
