# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#################################
# Global configuration values
#################################

tf_environment      ="{TF_ENVIRONMENT}" # https://www.terraform.io/docs/language/settings/backends/azurerm.html#environment

mlz_cloud           ="{MLZ_CLOUD}" # e.g. "AzureCloud" or "AzureUSGovernment", etc
mlz_tenantid        ="{MLZ_TENANTID}"
mlz_metadatahost    ="{MLZ_METADATAHOST}" # e.g. "management.azure.com" or "management.usgovcloudapi.net"
mlz_location        ="{MLZ_REGION}" # e.g. "eastus", "usgovvirginia", etc
