# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#################################
# Tier 1 Configuration
#################################

deploymentname = "{TIER1_DEPLOYMENTNAME}"
saca_subid     = "{SACA_SUBID}"
saca_rgname    = "{SACA_RGNAME}"
saca_vnetname  = "{SACA_VNETNAME}"
saca_fwname    = "{SACA_FWNAME}"
saca_lawsname  = "{SACA_LAWSNAME}"
tier1_subid    = "{TIER1_SUBID}"
tier1_rgname   = "{TIER1_RGNAME}"
tier1_vnetname = "{TIER1_VNETNAME}"

#################################
# Network configuration section
#################################

vnet_address_space = ["{TIER1_VNETSPACE}"]

subnets = {
  "{TIER1_SUBNETVM_NAME}" = {
    name              = "{TIER1_SUBNETVM_NAME}"
    address_prefixes  = ["{TIER1_SUBNETVM_ADDRESSPREFIXLIST}"]
    service_endpoints = ["{TIER1_SUBNETVM_SERVICEENDPOINTLIST}"]

    enforce_private_link_endpoint_network_policies = {TIER1_SUBNETVM_ENABLEPRIVATELINKENDPOINT}
    enforce_private_link_service_network_policies = {TIER1_SUBNETVM_ENABLEPRIVATELINKSERVICE}

    nsg_name = "{TIER1_SUBNETVM_NSGNAME}"
    nsg_rules = {
      "allow_ssh" = {
        name                       = "allow_ssh"
        priority                   = "100"
        direction                  = "Inbound"
        access                     = "Allow"
        protocol                   = "Tcp"
        source_port_range          = ""
        destination_port_range     = "22"
        source_address_prefix      = "*"
        destination_address_prefix = ""
      }
      "allow_rdp" = {
        name                       = "allow_rdp"
        priority                   = "200"
        direction                  = "Inbound"
        access                     = "Allow"
        protocol                   = "Tcp"
        source_port_range          = ""
        destination_port_range     = "3389"
        source_address_prefix      = "*"
        destination_address_prefix = ""
      }
    }

    routetable_name = "{TIER1_SUBNETVM_RTNAME}"
  }
}