# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
---

name: validate-build-bicep
on:
  pull_request:
    branches: [main]
    paths:
    - 'src/**'
    - '!src/**.md'
jobs:
  validate-build:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          az bicep install --version v0.39.26
          az bicep version
          az bicep build --file src/mlz.bicep --outfile src/mlz.json
          if [[ $(git status --porcelain) ]]; then
            git add src/mlz.json
            git commit -m "GitHub Action: Build Bicep to JSON"
            git push origin HEAD:"$GITHUB_HEAD_REF"
          fi
