# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

name: validate-build-bicep
on:
  pull_request:
    branches: [main]
    paths:
    - 'src/bicep/**'
    - '!src/bicep/**.md'
env:
  BICEP_VERSION: 'v0.4.1272'
jobs:
  validate-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          az bicep install --version "$BICEP_VERSION"
          az bicep version
          az bicep build --file src/bicep/mlz.bicep --outfile src/bicep/mlz.json
          if [[ $(git status --porcelain) ]]; then
            git add src/bicep/mlz.json
            git commit -m "GitHub Action: Build Bicep to JSON"
            git push origin HEAD:"$GITHUB_HEAD_REF"
          fi