# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
---

name: validate-terraform
on:
  pull_request:
    branches: [main]
    paths:
    - 'src/terraform/**'
    - '!src/terraform/**.md'
  workflow_dispatch:
jobs:
  validate-terraform:
    runs-on: ubuntu-latest
    steps:
    - uses: hashicorp/setup-terraform@v2.0.3
    - shell: bash
      name: check tooling versions
      run: |
        terraform -version
    - uses: actions/checkout@v3
    - shell: bash
      name: validate and lint terraform
      run: |
        .github/workflows/validate-terraform.sh src/terraform/mlz src/terraform/tier3
