.custom-pane {
    background: #252f2f;
    border: 1px solid #000000;
    border-radius: 15px;
}
.form-elements {
    border-bottom: 2px solid #000000;
}
.page-header {
    margin-top: 80px;
    margin-bottom: 25px;
}
.modal-dialog {
    width: 800px;
}
#terminal {
    font-family: Terminus,Consolas,Profont,"Andale Mono",Monaco,Inconsolata,Inconsolata-g,
      Unifont,Lime,"ClearlyU PUA",Clean,"DejaVu Sans Mono","Lucida Console",
      "Bitstream Vera Sans Mono",Freemono,"Liberation Mono",Dina,Anka,Droid Sans Mono,
      Anonymous Pro,Proggy fonts,Envy Code R,Gamow,Courier,"Courier New",Terminal,monospace;
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-style: solid;
    border-width:2px;
    border-color: #414141;
    background-color: #000000;
    width: 765px;
    height: 500px;
    overflow: auto;
    color: #66FF66;
}