.custom-pane {
    background: #252f2f;
    border: 1px solid #000000;
    border-radius: 15px;
}
.form-elements {
    border-bottom: 2px solid #000000;
}
.page-header {
    margin-top: 80px;
    margin-bottom: 25px;
}